

$grid-gutter-width: 64px;

$primary-color: #1B5B31;
$beige-color: #DCC1AB;
$grey-color: #F5F0EC;
$black-color: #111111;

$font-family: 'Inter', sans-serif;
$font-family-secondary: 'Montserrat', sans-serif;

$fw: 400;
$fw-medium: 500;